footer {
  background-color: orangered;
  color: white;
}

.container {
  max-width: 1300px;
  display: flex;
  margin: auto;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

footer ul {
  flex-direction: column;
  padding-left: 0;
}