*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.modalBackgroundEnd {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.closeBtn {
  margin-right: 20px;
  align-self: flex-end;
}

.btnsModal button:nth-child(1):hover {
  background-color: #dd1717;
  border: 1px solid #dd1717;
}

.btnsModal {
  display: flex;
  padding: 35px 0;
  gap: 100px;
}

button:hover {
  cursor: pointer;
  background-color: #243cdb;
}

a {
  list-style-type: none;
  text-decoration: none;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #FCFDFE;
  border: 1px solid #DFE0EB;
  padding: 11px 16px;
  border-radius: 8px;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}


