.container {
  background-color: rgb(78, 78, 78);
  color: white;
}

.container div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.container p {
  margin: auto;
  text-align: justify;
  max-width: 1300px;
}